<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> -->

    <!-- css -->
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/newEmp.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />

    <!-- logo -->
    <%- include("./includes/logo.ejs") %>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="main-con">
      <div class="nav-bar">
        <div class="con">
          <div class="heading">
            <h2>The Grand Éclat</h2>
          </div>
          <div class="nav-con">
            <ul class="nav-list">
              <a href="/dashboard"
                ><li class="dashboard">
                  <i class="bx bxs-dashboard"></i>Dashboard
                </li></a
              >
              <a href="/dashboard/orders"
                ><li class="order">
                  <i class="bx bx-restaurant"></i>Orders
                </li></a
              >
              <a href="/dashboard/customers"
                ><li class="customer">
                  <i class="bx bxs-user"></i>Customers
                </li></a
              >
              <a href="/dashboard/employee"
                ><li class="emoloyee">
                  <i class="bx bxs-user"></i>Employees
                </li></a
              >
              <a href="/dashboard/menu"
                ><li class="menu active"><i class="bx bxs-food-menu"></i>Menu</li></a
              >
              <a href="/dashboard/table"
                ><li class="table"><i class="bx bxs-card"></i>Table</li></a
              >
            </ul>
          </div>
        </div>
      </div>

      <div class="dashboard">
        <div class="nav-bar2">
          <a href=""><i class="bx bx-menu"></i></a>
          <div class="nav-icons">
            <p>Hello, Ranadip</p>
            <i class="bx bxs-user-circle"></i>
          </div>
        </div>
        <div class="cust-dash">
          <div class="dash-titile">
            <h2>Items List</h2>
            <p>Dashboard / Menu / #<%= data.itemID %></p>
          </div>
          <div class="empForm-div">
            <form action="/dashboard/menu/<%= data._id %>?_method=PUT" method="POST">
                <div class="empForm">
                    <div>
                        <label for="name">Item Name</label>
                        <input type="text" id="name" name="itemName" value= "<%= data.itemName %>" required>
                    </div>
                    <div>
                      <label for="itemDetails">Item Details</label>
                      <input type="text" id="itemDetails" name="itemDetails" value= "<%= data.itemDetails %>" required>
                  </div>
                  <div>
                    <label for="salary">Price</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class='bx bx-rupee' ></i></span>
                        <input type="number" id="price" name="price"  value="<%= data.price %>" required>
                    </div>
                  </div>
                    <div>
                        <label for="category">Category</label>
                        <select id="category" required name="category">
                          <% if (data.category == "Appetizers") { %>
                            <option value="Appetizers" selected >Appetizers</option>
                            <option value="Main-Course">Main-Course</option>
                            <option value="Beverages">Beverages</option>
                            <option value="Ice-Cream">Ice-Cream</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Add-On">Add-On</option>
                          <% } %>
                          <% if (data.category == "Main-Course") { %>
                            <option value="Appetizers" >Appetizers</option>
                            <option value="Main-Course" selected>Main-Course</option>
                            <option value="Beverages">Beverages</option>
                            <option value="Ice-Cream">Ice-Cream</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Add-On">Add-On</option>
                          <% } %>
                          <% if (data.category == "Beverages") { %>
                            <option value="Appetizers">Appetizers</option>
                            <option value="Main-Course">Main-Course</option>
                            <option value="Beverages" selected>Beverages</option>
                            <option value="Ice-Cream">Ice-Cream</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Add-On">Add-On</option>
                          <% } %>
                          <% if (data.category == "Ice-Cream") { %>
                            <option value="Appetizers">Appetizers</option>
                            <option value="Main-Course">Main-Course</option>
                            <option value="Beverages">Beverages</option>
                            <option value="Ice-Cream" selected>Ice-Cream</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Add-On">Add-On</option>
                          <% } %>
                          <% if (data.category == "Drinks") { %>
                            <option value="Appetizers">Appetizers</option>
                            <option value="Main-Course">Main-Course</option>
                            <option value="Beverages">Beverages</option>
                            <option value="Ice-Cream" selected>Ice-Cream</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Add-On">Add-On</option>
                          <% } %>
                          <% if (data.category == "Add-On") { %>
                            <option value="Appetizers">Appetizers</option>
                            <option value="Main-Course">Main-Course</option>
                            <option value="Beverages">Beverages</option>
                            <option value="Ice-Cream">Ice-Cream</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Add-On" selected>Add-On</option>
                          <% } %>
                        </select>
                    </div>
                    <div>
                      <label for="discount">Discount</label>
                      <div class="input-group">
                        <span class="input-group-text" >%</span>
                        <input type="number" id="discount" name="discount"  value="<%= data.discount %>" required>
                    </div>
                     </div>
                    <div>
                      <label for="availability">Availability</label>
                      <select id="availability" required name="availability">
                        <% if (data.availability == "available") { %>
                          <option value="available" selected>Available</option>
                          <option value="Not available">Not Available</option>
                        <% } %>
                        <% if (data.availability == "Not available") { %>
                          <option value="available">Available</option>
                          <option value="Not available" selected>Not Available</option>
                        <% } %>
                        </select>
                     </div>
                    <div>
                      <label for="type">Type</label>
                      <select id="type" required name="type">
                        <% if (data.type == "Veg") { %>
                          <option value="Veg" selected>Veg</option>
                          <option value="Non-Veg">Non-Veg</option>
                        <% } %>
                        <% if (data.type == "Non-Veg") { %>
                          <option value="Veg">Veg</option>
                          <option value="Non-Veg" selected>Non-Veg</option>
                        <% } %>
                        </select>
                     </div>
                     <br>

                    <div class="reg-btn">
                      <a href="/dashboard/menu"><i class='bx bx-arrow-back' ></i>Back</a>
                      <button type="submit" >Update</button>
                    </div>
                </div>
            </form>
            <form action="/dashboard/menu/<%= data._id %>?_method=DELETE" method="POST" class="deleteForm">
              <button type="submit" class="deleteBtn">Delete this Item</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script src="/js/graph.js"></script>
  </body>
</html>
