<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Grand Eclat</title>
    <link rel="stylesheet" href="/css/menu.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="con">
      <div class="dashboard">
        <div class="nav-div">
          <div class="search-div">
            <input type="text" class="search" placeholder="search" />
            <button class="bttn">
              <i class="bx bx-search-alt-2"></i>Search
            </button>
          </div>
          <div class="nav-icons">
            <a href="/home" type="button"><i class="bx bxs-home"></i></a>
            <a href="/cart" class="cartIcon"
              ><i class="bx bx-cart"
                ><span id="cart-count"><%=count%></span></i
              ></a
            >
            <a href="/login" type="button"
              ><i class="bx bxs-user-circle"></i
            ></a>
          </div>
        </div>
        <div class="dashboard-banner">
          <img src="/css/img/banner2.jpg" alt="" />
          <div class="banner-promo">
            <h1>
              <span>35% OFF</span><br />
              Tasty Food <br />
              On Your Hand
            </h1>
          </div>
        </div>

        <div class="menu-container">
          <div class="heading">
            <img src="/css/img/left.png" alt="" />
            <h2>MENU</h2>
            <img src="/css/img/right.png" alt="" />
          </div>
          <div class="space"></div>
          <div class="starter">
            <div class="starter-titile">
              <h4>Appetizers<span>(9)</span></h4>
            </div>
            <div class="starter-con">
              <% for (item of items) { %> <% if(item.category ==
              "Appetizers"){%>
              <div class="food-card">
                <img src="/css/img/pizza.avif" alt="" />
                <div class="card-details">
                    <div class="titleCon">
                      <div class="titile">
                        <h3><%= item.itemName%></h3>
                        <p><%= item.itemDetails%></p>
                      </div>
                      <div class="price">
                        <p><i class="bx bx-rupee"></i><%= item.price%></p>
                      </div>
                    </div>
                    <div class="addCon">
                      <div class="add">
                        <p>
                          <i class="bx bxs-star"></i><%=
                          `${((item.rating.reduce((partialSum, a) => partialSum
                          + a,
                          0))/item.rating.length).toString().slice(0,3)}(${item.rating.length})`%>
                        </p>
                        <form action="/cart/<%= item._id %>" method="post">
                          <button class="bttn">add to cart</button>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
              <% } %> <% } %>
            </div>
          </div>
          <div class="space"></div>
          <div class="main">
            <div class="main-titile">
              <h4>Main Course<span>(9)</span></h4>
            </div>
            <div class="main-con">
              <% for (item of items) { %> <% if(item.category ==
              "Main-Course"){%>
              <div class="food-card">
                <img src="/css/img/pizza.avif" alt="" />
                <div class="card-details">
                  <div class="titleCon">
                      <div class="titile">
                        <h3><%= item.itemName%></h3>
                        <p><%= item.itemDetails%></p>
                      </div>
                      <div class="price">
                        <p><i class="bx bx-rupee"></i><%= item.price%></p>
                      </div>
                    </div>
                    <div class="addCon">
                      <div class="add">
                        <p>
                          <i class="bx bxs-star"></i><%=
                          `${((item.rating.reduce((partialSum, a) => partialSum
                          + a,
                          0))/item.rating.length).toString().slice(0,3)}(${item.rating.length})`%>
                        </p>
                        <form action="/cart/<%= item._id %>" method="post">
                          <button class="bttn">add to cart</button>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
              <% } %> <% } %>
            </div>
          </div>
          <div class="space"></div>
          <div class="beverages">
            <div class="beverages-titile">
              <h4>Beverages<span>(9)</span></h4>
            </div>
            <div class="beverages-con">
              <% for (item of items) { %> <% if(item.category == "Beverages"){%>
              <div class="food-card">
                <img src="/css/img/pizza.avif" alt="" />
                <div class="card-details">
                  <div class="titile">
                    <h3><%= item.itemName%></h3>
                    <p><%= item.itemDetails%></p>
                  </div>
                  <div class="price">
                    <p><i class="bx bx-rupee"></i><%= item.price%></p>
                  </div>
                </div>
                <div class="add">
                  <p>
                    <i class="bx bxs-star"></i><%=
                    `${((item.rating.reduce((partialSum, a) => partialSum + a,
                    0))/item.rating.length).toString().slice(0,3)}(${item.rating.length})`%>
                  </p>
                  <form action="/cart/<%= item._id %>" method="post">
                    <button class="bttn">add to cart</button>
                  </form>
                </div>
              </div>
              <% }}%>
            </div>
          </div>
          <div class="space"></div>
          <div class="icecream">
            <div class="icecream-titile">
              <h4>Ice Cream<span>(9)</span></h4>
            </div>
            <div class="icecream-con">
              <% for (item of items) { %> <% if(item.category == "Ice-Cream"){%>
              <div class="food-card">
                <img src="/css/img/pizza.avif" alt="" />
                <div class="card-details">
                  <div class="titile">
                    <h3><%= item.itemName%></h3>
                    <p><%= item.itemDetails%></p>
                  </div>
                  <div class="price">
                    <p><i class="bx bx-rupee"></i><%= item.price%></p>
                  </div>
                </div>
                <div class="add">
                  <p>
                    <i class="bx bxs-star"></i><%=
                    `${((item.rating.reduce((partialSum, a) => partialSum + a,
                    0))/item.rating.length).toString().slice(0,3)}(${item.rating.length})`%>
                  </p>
                  <form action="/cart/<%= item._id %>" method="post">
                    <button class="bttn">add to cart</button>
                  </form>
                </div>
              </div>
              <% }}%>
            </div>
          </div>
          <div class="space"></div>
          <div class="drinks">
            <div class="drinks-titile">
              <h4>Drinks<span>(9)</span></h4>
            </div>
            <div class="drinks-con">
              <% for (item of items) { %> <% if(item.category == "Drinks"){%>
              <div class="food-card">
                <img src="/css/img/pizza.avif" alt="" />
                <div class="card-details">
                  <div class="titile">
                    <h3><%= item.itemName%></h3>
                    <p><%= item.itemDetails%></p>
                  </div>
                  <div class="price">
                    <p><i class="bx bx-rupee"></i><%= item.price%></p>
                  </div>
                </div>
                <div class="add">
                  <p>
                    <i class="bx bxs-star"></i><%=
                    `${((item.rating.reduce((partialSum, a) => partialSum + a,
                    0))/item.rating.length).toString().slice(0,3)}(${item.rating.length})`%>
                  </p>
                  <form action="/cart/<%= item._id %>" method="post">
                    <button class="bttn">add to cart</button>
                  </form>
                </div>
              </div>
              <% }}%>
            </div>
          </div>
          <div class="space"></div>
          <div class="addon">
            <div class="addon-titile">
              <h4>Add On<span>(9)</span></h4>
            </div>
            <div class="addon-con">
              <% for (item of items) { %> <% if(item.category == "Add-On"){%>
              <div class="food-card">
                <img src="/css/img/pizza.avif" alt="" />
                <div class="card-details">
                  <div class="titile">
                    <h3><%= item.itemName%></h3>
                    <p><%= item.itemDetails%></p>
                  </div>
                  <div class="price">
                    <p><i class="bx bx-rupee"></i><%= item.price%></p>
                  </div>
                </div>
                <div class="add">
                  <p>
                    <i class="bx bxs-star"></i><%=
                    `${((item.rating.reduce((partialSum, a) => partialSum + a,
                    0))/item.rating.length).toString().slice(0,3)}(${item.rating.length})`%>
                  </p>
                  <form action="/cart/<%= item._id %>" method="post">
                    <button class="bttn">add to cart</button>
                  </form>
                </div>
              </div>
              <% }}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
